# Initial naive modeling
This is an effort to try creating a simple vectorfield to see if the discontinuities are plausible source locations. Each sensor location in the bounding box becomes a node with four vectors attached, one at each of the cardinal points of the compass. If the wind is blowing to the North, the vector attached to the north side of the node will be shown as pointing away from the node (an emitter) if the pollution is elevated; otherwise the vector will be shown pointing toward the node (a sink). In this scenario, we would expect to see this where P is a source of pollution and N are nodes:  
<-- N <-- P --> N -->

In [30]:
# import libraries
import pandas as pd
import numpy as np 
import warnings
import gmplot
import sys
from copy import deepcopy
sys.path.append("../HistoricalData/")
from getData import get_data

warnings.filterwarnings('ignore')

In [31]:
# this call to get_data function that will take bounding box and timeframe and return cleaned data

UP_LEFT = (38.008050, -122.536985)    # (lat, lon)
UP_RIGHT = (38.008050, -122.186437)   # (lat, lon)
DOWN_RIGHT = (37.701933, -122.186437) # (lat, lon)
DOWN_LEFT = (37.701933, -122.536985)  # (lat, lon)
START_DATE = '2019/09/01' # begin date to start taking data
END_DATE = '2019/09/30'   # end date to start taking data
START_HOUR = '0'         # hour EACH DAY to start, this allows us to control for time of day effects
END_HOUR = '1'           # hour EACH DAY to end, this allows us to control for time of day effects
color = "red"

data_df = get_data(UP_LEFT, UP_RIGHT, DOWN_RIGHT, DOWN_LEFT, START_DATE, END_DATE, START_HOUR, END_HOUR)

In [32]:
# remove rows with na data for 2_5um
data_df = data_df[data_df['2_5um'].notna()]

In [33]:
data_df.head()

,0_3um,0_5um,1_0um,2_5um,5_0um,10_0um,pm1_0,pm10_0,created,pm1_0_atm,...,sys_maint_reqd,epa_pm25_unit,epa_pm25_value,raw_concentration,aqi,category,site_name,agency_name,full_aqs_code,intl_aqs_code
0,563.51,162.10,33.51,5.16,1.25,0.00,1.96,4.93,201909010000,1.96,...,0.0,UG/M3,5.0,4.0,21,1,San Francisco,San Francisco Bay Area AQMD,60750005,840060750005
1,519.13,149.87,35.50,6.77,1.54,0.43,1.91,5.31,201909010010,1.91,...,0.0,UG/M3,5.0,4.0,21,1,San Francisco,San Francisco Bay Area AQMD,60750005,840060750005
2,510.72,152.80,28.90,3.13,0.62,0.00,1.80,4.10,201909010020,1.80,...,0.0,UG/M3,5.0,4.0,21,1,San Francisco,San Francisco Bay Area AQMD,60750005,840060750005
3,507.48,149.75,30.55,6.61,3.36,1.30,1.52,5.52,201909010030,1.52,...,0.0,UG/M3,5.0,4.0,21,1,San Francisco,San Francisco Bay Area AQMD,60750005,840060750005
4,478.95,141.67,33.39,2.97,0.00,0.00,1.88,3.85,201909010040,1.88,...,0.0,UG/M3,5.0,4.0,21,1,San Francisco,San Francisco Bay Area AQMD,60750005,840060750005

In [34]:
# calculate average counts by sensor
average_col = data_df.groupby(['sensor_id'])['2_5um'].mean() 
data_df = data_df.set_index(['sensor_id'])
data_df['avg_2_5um'] = average_col
data_df = data_df.reset_index()

In [35]:
# define direction degree range
NORTH = (316,45)
EAST = (46,135)
SOUTH = (136,225)
WEST = (226,315)

In [36]:
# go through the dataframe and add new categorical column that indicates direction: 
# North, South, East, West, No wind, Missing, ERROR

wind_compass = [] 
for row in range(len(data_df)):
    try:
        degree = int(data_df.loc[row].wind_direction)
    except:
        wind_compass.append('Missing')
        continue
    if data_df.loc[row].wind_speed == 0:
        wind_compass.append('No wind')
    elif degree >= NORTH[0] or degree <= NORTH[1]:
        wind_compass.append('North')
    elif degree >= EAST[0] and degree <= EAST[1]:
        wind_compass.append('East')
    elif degree >= SOUTH[0] and degree <= SOUTH[1]:
        wind_compass.append('South')
    elif degree >= WEST[0] and degree <= WEST[1]:
        wind_compass.append('West')
    else:
        wind_compass.append('ERROR')
data_df['wind_compass'] = wind_compass

In [37]:
# take a look at the counts. this is one day, so it may not show all possibilities.
data_df.groupby('wind_compass').count()

,sensor_id,0_3um,0_5um,1_0um,2_5um,5_0um,10_0um,pm1_0,pm10_0,created,...,epa_pm25_unit,epa_pm25_value,raw_concentration,aqi,category,site_name,agency_name,full_aqs_code,intl_aqs_code,avg_2_5um
wind_compass,,,,,,,,,,,,,,,,,,,,,
East,67931,67931,67931,67931,67931,67931,67931,67931,67931,67931,...,67257,67257,67257,67257,67257,67257,67257,67257,67257,67931
Missing,95751,95751,95751,95751,95751,95751,95751,95751,95751,95751,...,95624,95624,95624,95624,95624,95624,95624,95624,95624,95751
No wind,143529,143529,143529,143529,143529,143529,143529,143529,143529,143529,...,138827,138827,138827,138827,138827,138827,138827,138827,138827,143529
North,67502,67502,67502,67502,67502,67502,67502,67502,67502,67502,...,65291,65291,65291,65291,65291,65291,65291,65291,65291,67502
South,68835,68835,68835,68835,68835,68835,68835,68835,68835,68835,...,67422,67422,67422,67422,67422,67422,67422,67422,67422,68835
West,461258,461258,461258,461258,461258,461258,461258,461258,461258,461258,...,452283,452283,452283,452283,452283,452283,452283,452283,452283,461258

In [38]:
# get average for each sensor
sensor_avg = data_df[['sensor_id','wind_compass','lat','lon','2_5um']].groupby(['sensor_id']).mean()
# get average for each sensor *given a particular cardinal wind direction*
sensor_avg_wind = data_df[['sensor_id','wind_compass','lat','lon','2_5um']].groupby(['sensor_id','wind_compass']).mean()

# create model_df
# desired columns: sensor_id, lat, lon, avg_2_5um, north_delta, south_delta, east_delta, west_delta
sensor_avg.reset_index(inplace=True)
sensor_avg_wind.reset_index(inplace=True)
sensor_avg.rename(columns={"2_5um": "avg_2_5um"}, inplace=True)
sensor_avg["north_delta"] = np.nan
sensor_avg["south_delta"] = np.nan
sensor_avg["east_delta"] = np.nan
sensor_avg["west_delta"] = np.nan
model_df = deepcopy(sensor_avg)

# this is hacky and inefficient and probably won't scale well, but I'll fix it later
for ind, row in sensor_avg.iterrows():
    north_avg = sensor_avg_wind[(sensor_avg_wind['sensor_id'] == sensor_avg.sensor_id[ind]) &
                                             (sensor_avg_wind['wind_compass'] == 'North')]['2_5um']
    if not north_avg.empty:
        model_df.north_delta[ind] = north_avg.values[0] - sensor_avg.avg_2_5um[ind]
    else:
        model_df.north_delta[ind] = 0
    
    south_avg = sensor_avg_wind[(sensor_avg_wind['sensor_id'] == sensor_avg.sensor_id[ind]) &
                                             (sensor_avg_wind['wind_compass'] == 'South')]['2_5um']
    if not south_avg.empty:
        model_df.south_delta[ind] = south_avg.values[0] - sensor_avg.avg_2_5um[ind]
    else:
        model_df.south_delta[ind] = 0
        
    east_avg = sensor_avg_wind[(sensor_avg_wind['sensor_id'] == sensor_avg.sensor_id[ind]) &
                                             (sensor_avg_wind['wind_compass'] == 'East')]['2_5um']
    if not east_avg.empty:
        model_df.east_delta[ind] = east_avg.values[0] - sensor_avg.avg_2_5um[ind]
    else:
        model_df.east_delta[ind] = 0
        
    west_avg = sensor_avg_wind[(sensor_avg_wind['sensor_id'] == sensor_avg.sensor_id[ind]) &
                                             (sensor_avg_wind['wind_compass'] == 'West')]['2_5um'] 
    if not west_avg.empty:
        model_df.west_delta[ind] = west_avg.values[0] - sensor_avg.avg_2_5um[ind]
    else:
        model_df.west_delta[ind] = 0
        
# save RAM
sensor_avg = None

In [39]:
model_df.tail()

,sensor_id,lat,lon,avg_2_5um,north_delta,south_delta,east_delta,west_delta
541,7811,37.800237,-122.456112,4.419595,1.049059,0.337754,0.031107,-0.491940
542,7824,37.871848,-122.271067,1.113676,-0.045343,-0.121244,0.177990,-0.282962
543,7825,37.871848,-122.271067,1.280809,0.309191,-0.200809,0.074525,-0.227595
544,8468,37.875150,-122.257743,0.853222,0.224724,-0.312276,-0.122172,-0.027348
545,8469,37.875150,-122.257743,0.942756,0.266001,-0.392756,-0.157756,-0.020658

In [48]:
# map the sensors on google maps api
# arrow drawing code drawn from this repo: https://github.com/selimamrouni/hexagon-and-arrow-for-gmplot/blob/master/gmplot_h_a.ipynb

def arrow(center, reading, angle):
    """
    This function is used to draw an arrow.
    
    The function takes as input:
    - center: tuple (lat, lon) which is the center point of the hexagon
    - length: real number of the length of the arrow, 
        - if negative, arrow points inward to the centroid
        - if positive. arrow points outward away from the centroid
    - angle: angle of the arrow (in degree)

    the return is a list of tuple (latitude, longitude) which is used to draw the arrow

    """

    # standardize the arrow_length
    if reading >= 0:
        color = "red"
    else:
        color = "blue"
    length_arrow = .003
    
    # let's define the origin of the arrow as the center
    origin = center
    angle_rad = np.pi / 180 * angle

    # let's define the vectors pointing the end of the arrow
    # each vector point the one point of the arrow
    # so the arrow is entirely defined

    if length_arrow >= 0: # if sensor reading is positive, arrow points outward
    
        vec1 = (length_arrow * np.sin(angle_rad),
                length_arrow * np.cos(angle_rad))
        vec2 = (0.4*length_arrow * np.sin(angle_rad + np.pi/12),
                0.4*length_arrow * np.cos(angle_rad + np.pi/12))
        vec3 = (0.4*length_arrow * np.sin(angle_rad - np.pi/12),
                0.4*length_arrow * np.cos(angle_rad - np.pi/12))

        point1 = tuple(map(sum, zip(vec1, origin)))
        point2 = tuple(map(sum, zip(origin, vec2)))
        point3 = tuple(map(sum, zip(origin, vec3)))  
        
        draw1 = []
        draw1.append(origin)
        draw1.append(point1)

        draw2 = []
        draw2.append(origin)
        draw2.append(point2)

        draw3 = []
        draw3.append(origin)
        draw3.append(point3)

    else: # if sensor reading is negative, arrow points outward
        
        vec1 = (-length_arrow * np.sin(angle_rad),
                -length_arrow * np.cos(angle_rad))
        vec2 = (-0.4*length_arrow * np.sin(angle_rad + np.pi/12),
                -0.4*length_arrow * np.cos(angle_rad + np.pi/12))
        vec3 = (-0.4*length_arrow * np.sin(angle_rad - np.pi/12),
                -0.4*length_arrow * np.cos(angle_rad - np.pi/12))

        point1 = tuple(map(sum, zip(vec1, origin)))
        point2 = tuple(map(sum, zip(origin, vec2)))
        point3 = tuple(map(sum, zip(origin, vec3)))       
        
        draw1 = []
        draw1.append(origin)
        draw1.append(point1)

        draw2 = []
        draw2.append(origin)
        draw2.append(point2)

        draw3 = []
        draw3.append(origin)
        draw3.append(point3)

    result = [draw1, draw2, draw3]
    
    return (result, color)

# get the plot started
latitude_list = []
longitude_list = []
for row in range(len(model_df)):
    try:
        latitude_list.append(model_df.loc[row].lat)
        longitude_list.append(model_df.loc[row].lon)
    except:
        pass
gmap3 = gmplot.GoogleMapPlotter((max(latitude_list)+min(latitude_list))/2,
                                (max(longitude_list)+min(longitude_list))/2,
                                zoom=11)
gmap3.scatter(latitude_list, longitude_list, '# FF0000', 
                              size = 40, marker = False ) 
# gmap3.apikey = "AIzaSyA2TdrwntJVu6IuS_3fOY7WLTLvhl3xntk" # this is Ben's key

# make the vectors
scaling = .002 # parameter for scaling arrow size

for row in range(len(model_df)):
    sensor_coords = (model_df.loc[row]['lat'], model_df.loc[row]['lon'])

    for direction, angle in [('east_delta', 0),
                             ('north_delta', 90),
                             ('west_delta', 180),
                             ('south_delta', -90)]:
        delta = model_df.loc[row][direction]
        if delta != 0:
            L,color = arrow(sensor_coords, delta*scaling, angle) 
            #unpack the tuple to create the lists of latitude and longitude points
            for l in range(3):
                list_arrow_lat = list(map(lambda x: x[0], L[l]))
                list_arrow_lon = list(map(lambda x: x[1], L[l]))
                gmap3.polygon(list_arrow_lat,
                         list_arrow_lon,
                         edge_color=color, edge_width=1, face_color=color, face_alpha=0.1)

# draw the map and send to file
gmap3.draw("../data/model_map.html") 
print("Done")

Done